[submodule "external_methods/wlan_localization"]
	path = external_methods/wlan_localization
	url = https://github.com/sharan-naribole/wlan_localization
	branch = master
[submodule "external_methods/ronin"]
	path = external_methods/ronin
	url = https://github.com/Sachini/ronin
	branch = master
[submodule "external_methods/tartanvo"]
	path = external_methods/tartanvo
	url = https://github.com/castacks/tartanvo
	branch = python3
[submodule "external_methods/dpvo"]
	path = external_methods/dpvo
	url = https://github.com/princeton-vl/DPVO
[submodule "external_methods/imuwifine"]
	path = external_methods/imuwifine
	url = https://github.com/IS2AI/IMUWiFine
[submodule "external_methods/indoor_location_competition_20"]
	path = external_methods/indoor_location_competition_20
	url = https://github.com/location-competition/indoor-location-competition-20
